table {
  padding: 10px;
  border-collapse: collapse;
  margin: auto;
}

thead {
  background-color: rgb(146, 216, 238);
  font-weight: bold;
}

table,
tr,
td {
  border: 1px solid black;
  margin: auto;
  text-align: center;
  padding: 5px;
}

td {
  width: 130px;
}
.icon {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.szulcella {
    position: relative;
}

.rejtett {
  display: hidden;
}
